.git
.env
**/.DS_Store
**/node_modules
**/dist
**/target
game-assets/*
!game-assets/extracted/
game-assets/extracted/*
!game-assets/extracted/exported/
!game-assets/extracted/exported/**
reverse-engineering
